/*用户中心*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td,
p {
  margin: 0;
  padding: 0;
}
input,
button,
select,
textarea {
  outline: none;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  vertical-align: top;
  border: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
  font-family: Microsoft YaHei;
}
input {
  border: none;
  font-size: 12px;
}
::-webkit-input-placeholder {
  color: #B4B4B4;
}
:-moz-placeholder {
  color: #B4B4B4;
}
::-moz-placeholder {
  color: #B4B4B4;
}
:-ms-input-placeholder {
  color: #B4B4B4;
}
body {
  width: auto;
  height: auto;
  _height: 100%;
  min-height: 100%;
  color: #666;
  background: #fff;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 12px;
}
div:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
/*设置区域*/
.layout {
  margin: 0 auto;
  overflow: hidden;
}
.grid-m {
  width: 100%;
  clear: both;
  overflow: hidden;
}
/*布局*/
.box {
  width: 100%;
  overflow: hidden;
}
.col-sub .box .hd .main-wrap {
  overflow: hidden;
}
.col-main {
  float: left;
  width: 100%;
  min-height: 1px;
  display: inline;
  overflow: hidden;
}
.col-sub,
.col-extra {
  float: left;
}
.col-sub,
.col-extra {
  margin-bottom: 10px;
}
.layout:after,
.main-wrap:after,
.col-sub:after,
.col-extra:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.layout,
.main-wrap,
.col-sub,
.col-extra {
  *zoom: 1;
}
.grid-s45m0 .main-wrap {
  margin-left: 195px;
}
.grid-s45m0 .col-sub {
  width: 180px;
  margin-left: -100%;
}
.grid-m0s6 .main-wrap {
  margin-right: 390px;
}
.grid-m0s6 .col-sub {
  width: 355px;
  margin-left: -355px;
}
.grid-m0s7 .main-wrap {
  margin-right: 310px;
}
.grid-m0s7 .col-sub {
  width: 290px;
  margin-left: -290px;
}
.grid-s5m0e6 .main-wrap {
  margin: 0px 350px 0px 360px;
}
.grid-s5m0e6 .col-sub {
  width: 216px;
  margin-left: -100%;
}
.grid-s5m0e6 .col-extra {
  width: 230px;
  margin-left: -230px;
}
#hd,
#bd {
  width: 100%;
  overflow: hidden;
}
#ft {
  width: 100%;
  overflow: hidden;
}
.no-mb {
  margin-bottom: 0px;
}
.col-sub .no-mb,
.col-extra .no-mb {
  margin-bottom: 0px;
}
.no-bg {
  background: none;
}
a {
  color: #707070;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #ff7547;
}
a:focus {
  outline: 0;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline-width: 0;
}
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.h30 {
  height: 30px !important;
}
.pad10 {
  padding: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.relative {
  position: relative;
}
.border {
  border: 1px solid #E0E0E0;
}
.border2 {
  border: 2px solid #E0E0E0;
}
.border_r1 {
  border-right: 1px solid #E0E0E0;
}
.has-error {
  border: 1px solid #FF172F;
  border-color: #FF172F !important;
  color: #FF172F;
  float: left;
}
.help-block {
  line-height: 30px !important;
  display: block;
  border: 0px;
  font-size: 12px;
  float: left;
  margin: 5px 0 0 10px;
  width: auto !important;
}
.hide {
  display: none;
}
.fixed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 分页样式表 */
.page_box {
  margin-top: 30px;
}
.page {
  text-align: center;
  font-size: 14px;
  float: right;
  border: 1px solid #ECECEC;
  background-color: #F7F7F7;
}
.page li {
  float: left;
}
.page .current {
  background: #fa7144;
  color: #fff;
}
.page .current:hover {
  background: #fa7144;
  color: #ffff00;
}
.page a,
.page span {
  padding: 5px 10px;
  color: #333;
  display: block;
  _display: inline;
  _zoom: 1;
  height: 25px;
  line-height: 25px;
  float: left;
  width: 16px;
  border-right: 1px solid #ECECEC;
}
.page a:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  color: #959595;
}
.page a.page_cut2 {
  background: #fa7144;
  color: #ffff00;
}
.blue {
  color: blue;
}
/*!
 * ui-dialog.css
 * Date: 2014-07-03
 * https://github.com/aui/artDialog
 * (c) 2009-2014 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://www.gnu.org/licenses/lgpl-2.1.html
 */
.ui-dialog {
  *zoom: 1;
  _float: left;
  position: relative;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 6px;
  outline: 0;
  background-clip: padding-box;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.ui-popup-show .ui-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ui-popup-focus .ui-dialog {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.ui-popup-modal .ui-dialog {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, 0.3);
}
.ui-dialog-grid {
  width: auto;
  margin: 0;
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  background: transparent;
}
.ui-dialog-header,
.ui-dialog-body,
.ui-dialog-footer {
  padding: 0;
  border: 0 none;
  text-align: left;
  background: transparent;
}
.ui-dialog-header {
  white-space: nowrap;
  border-bottom: 1px solid #E5E5E5;
}
.ui-dialog-close {
  position: relative;
  _position: absolute;
  float: right;
  top: 13px;
  right: 13px;
  _height: 26px;
  padding: 0 4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: transparent;
  _background: #FFF;
  border: 0;
  -webkit-appearance: none;
}
.ui-dialog-close:hover,
.ui-dialog-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ui-dialog-title {
  margin: 0;
  line-height: 1.428571429;
  min-height: 16.428571429px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  cursor: default;
}
.ui-dialog-body {
  padding: 20px;
  text-align: center;
}
.ui-dialog-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
.ui-dialog-footer {
  padding: 0 20px 20px 20px;
}
.ui-dialog-statusbar {
  float: left;
  margin-right: 20px;
  padding: 6px 0;
  line-height: 1.428571429;
  font-size: 14px;
  color: #888;
  white-space: nowrap;
}
.ui-dialog-statusbar label:hover {
  color: #333;
}
.ui-dialog-statusbar input,
.ui-dialog-statusbar .label {
  vertical-align: middle;
}
.ui-dialog-button {
  float: right;
  white-space: nowrap;
}
.ui-dialog-footer button + button {
  margin-bottom: 0;
  margin-left: 5px;
}
.ui-dialog-footer button {
  width: auto;
  overflow: visible;
  display: inline-block;
  padding: 6px 12px;
  _margin-left: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.ui-dialog-footer button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ui-dialog-footer button:hover,
.ui-dialog-footer button:focus {
  color: #333333;
  text-decoration: none;
}
.ui-dialog-footer button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ui-dialog-footer button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-dialog-footer button {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.ui-dialog-footer button:hover,
.ui-dialog-footer button:focus,
.ui-dialog-footer button:active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.ui-dialog-footer button:active {
  background-image: none;
}
.ui-dialog-footer button[disabled],
.ui-dialog-footer button[disabled]:hover,
.ui-dialog-footer button[disabled]:focus,
.ui-dialog-footer button[disabled]:active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.ui-dialog-footer button.ui-dialog-autofocus {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.ui-dialog-footer button.ui-dialog-autofocus:hover,
.ui-dialog-footer button.ui-dialog-autofocus:focus,
.ui-dialog-footer button.ui-dialog-autofocus:active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.ui-dialog-footer button.ui-dialog-autofocus:active {
  background-image: none;
}
.ui-popup-top-left .ui-dialog,
.ui-popup-top .ui-dialog,
.ui-popup-top-right .ui-dialog {
  top: -8px;
}
.ui-popup-bottom-left .ui-dialog,
.ui-popup-bottom .ui-dialog,
.ui-popup-bottom-right .ui-dialog {
  top: 8px;
}
.ui-popup-left-top .ui-dialog,
.ui-popup-left .ui-dialog,
.ui-popup-left-bottom .ui-dialog {
  left: -8px;
}
.ui-popup-right-top .ui-dialog,
.ui-popup-right .ui-dialog,
.ui-popup-right-bottom .ui-dialog {
  left: 8px;
}
.ui-dialog-arrow-a,
.ui-dialog-arrow-b {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  _color: #FF3FFF;
  _filter: chroma(color=#FF3FFF);
  border: 8px dashed transparent;
}
.ui-popup-follow .ui-dialog-arrow-a,
.ui-popup-follow .ui-dialog-arrow-b {
  display: block;
}
.ui-popup-top-left .ui-dialog-arrow-a,
.ui-popup-top .ui-dialog-arrow-a,
.ui-popup-top-right .ui-dialog-arrow-a {
  bottom: -16px;
  border-top: 8px solid #7C7C7C;
}
.ui-popup-top-left .ui-dialog-arrow-b,
.ui-popup-top .ui-dialog-arrow-b,
.ui-popup-top-right .ui-dialog-arrow-b {
  bottom: -15px;
  border-top: 8px solid #fff;
}
.ui-popup-top-left .ui-dialog-arrow-a,
.ui-popup-top-left .ui-dialog-arrow-b {
  left: 15px;
}
.ui-popup-top .ui-dialog-arrow-a,
.ui-popup-top .ui-dialog-arrow-b {
  left: 50%;
  margin-left: -8px;
}
.ui-popup-top-right .ui-dialog-arrow-a,
.ui-popup-top-right .ui-dialog-arrow-b {
  right: 15px;
}
.ui-popup-bottom-left .ui-dialog-arrow-a,
.ui-popup-bottom .ui-dialog-arrow-a,
.ui-popup-bottom-right .ui-dialog-arrow-a {
  top: -16px;
  border-bottom: 8px solid #7C7C7C;
}
.ui-popup-bottom-left .ui-dialog-arrow-b,
.ui-popup-bottom .ui-dialog-arrow-b,
.ui-popup-bottom-right .ui-dialog-arrow-b {
  top: -15px;
  border-bottom: 8px solid #fff;
}
.ui-popup-bottom-left .ui-dialog-arrow-a,
.ui-popup-bottom-left .ui-dialog-arrow-b {
  left: 15px;
}
.ui-popup-bottom .ui-dialog-arrow-a,
.ui-popup-bottom .ui-dialog-arrow-b {
  margin-left: -8px;
  left: 50%;
}
.ui-popup-bottom-right .ui-dialog-arrow-a,
.ui-popup-bottom-right .ui-dialog-arrow-b {
  right: 15px;
}
.ui-popup-left-top .ui-dialog-arrow-a,
.ui-popup-left .ui-dialog-arrow-a,
.ui-popup-left-bottom .ui-dialog-arrow-a {
  right: -16px;
  border-left: 8px solid #7C7C7C;
}
.ui-popup-left-top .ui-dialog-arrow-b,
.ui-popup-left .ui-dialog-arrow-b,
.ui-popup-left-bottom .ui-dialog-arrow-b {
  right: -15px;
  border-left: 8px solid #fff;
}
.ui-popup-left-top .ui-dialog-arrow-a,
.ui-popup-left-top .ui-dialog-arrow-b {
  top: 15px;
}
.ui-popup-left .ui-dialog-arrow-a,
.ui-popup-left .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}
.ui-popup-left-bottom .ui-dialog-arrow-a,
.ui-popup-left-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}
.ui-popup-right-top .ui-dialog-arrow-a,
.ui-popup-right .ui-dialog-arrow-a,
.ui-popup-right-bottom .ui-dialog-arrow-a {
  left: -16px;
  border-right: 8px solid #7C7C7C;
}
.ui-popup-right-top .ui-dialog-arrow-b,
.ui-popup-right .ui-dialog-arrow-b,
.ui-popup-right-bottom .ui-dialog-arrow-b {
  left: -15px;
  border-right: 8px solid #fff;
}
.ui-popup-right-top .ui-dialog-arrow-a,
.ui-popup-right-top .ui-dialog-arrow-b {
  top: 15px;
}
.ui-popup-right .ui-dialog-arrow-a,
.ui-popup-right .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}
.ui-popup-right-bottom .ui-dialog-arrow-a,
.ui-popup-right-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}
@-webkit-keyframes ui-dialog-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ui-dialog-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ui-dialog-loading {
  vertical-align: middle;
  position: relative;
  display: block;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  width: 32px;
  height: 32px;
  top: 50%;
  margin: -16px auto 0 auto;
  font-size: 0;
  text-indent: -999em;
  color: #666;
}
.ui-dialog-loading {
  width: 100% \9;
  text-indent: 0 \9;
  line-height: 32px \9;
  text-align: center \9;
  font-size: 12px \9;
}
.ui-dialog-loading::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  margin: 14.5px 0 0 14.5px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px #cccccc, 10px 0px #cccccc, 0 10px #cccccc, -10px 0 #cccccc, -7px -7px 0 0.5px #cccccc, 7px -7px 0 1.5px #cccccc, 7px 7px #cccccc, -7px 7px #cccccc;
  -webkit-transform: rotate(360deg);
  -webkit-animation: ui-dialog-loading 1.5s infinite linear;
  transform: rotate(360deg);
  animation: ui-dialog-loading 1.5s infinite linear;
  display: none \9;
}
/*!
 * Cropper v0.11.1
 * https://github.com/fengyuanchen/cropper
 *
 * Copyright (c) 2014-2015 Fengyuan Chen and contributors
 * Released under the MIT license
 *
 * Date: 2015-08-22T04:54:51.269Z
 */
.cropper-container {
  position: relative;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.cropper-container img {
  display: block;
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  height: 100%;
  min-height: 0 !important;
  max-height: none !important;
  image-orientation: 0deg !important;
}
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cropper-drag-box {
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
}
.cropper-modal {
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5;
}
.cropper-view-box {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid #69f;
  outline-color: rgba(102, 153, 255, 0.75);
}
.cropper-dashed {
  position: absolute;
  display: block;
  filter: alpha(opacity=50);
  border: 0 dashed #eee;
  opacity: .5;
}
.cropper-dashed.dashed-h {
  top: 33.33333333%;
  left: 0;
  width: 100%;
  height: 33.33333333%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333333%;
  width: 33.33333333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px;
}
.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  filter: alpha(opacity=75);
  opacity: .75;
}
.cropper-center:before,
.cropper-center:after {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eee;
}
.cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px;
}
.cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px;
}
.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=10);
  opacity: .1;
}
.cropper-face {
  top: 0;
  left: 0;
  background-color: #fff;
}
.cropper-line {
  background-color: #69f;
}
.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize;
}
.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize;
}
.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize;
}
.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize;
}
.cropper-point {
  width: 5px;
  height: 5px;
  background-color: #69f;
  filter: alpha(opacity=75);
  opacity: .75;
}
.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}
.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}
.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize;
}
.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  filter: alpha(opacity=100);
  opacity: 1;
}
.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: " ";
  background-color: #69f;
  filter: alpha(opacity=0);
  opacity: 0;
}
@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    filter: alpha(opacity=75);
    opacity: .75;
  }
}
.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}
.cropper-invisible {
  filter: alpha(opacity=0);
  opacity: 0;
}
.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
body {
  margin: 0px;
  padding: 0px;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.right {
  float: right;
  overflow: hidden;
}
.left {
  float: left;
  overflow: hidden;
}
.t_c {
  text-align: center;
}
/*通用*/
.global-top {
  height: 32px;
  background-color: #f5f5f5;
}
.global-top .right {
  line-height: 32px;
}
.global-top .login {
  margin-right: 35px;
  color: #00c481;
}
.global-top .center {
  margin: 0 35px;
  color: #959595;
}
.global-logo {
  padding: 10px 0;
  overflow: hidden;
}
.global-logo .logo {
  float: left;
  overflow: hidden;
  margin-left: 15px;
}
.global-logo .right {
  margin-right: 30px;
}
.global-logo .right a {
  line-height: 68px;
  margin-left: 50px;
  font-size: 18px;
  color: #434343;
}
.global-logo .right a.curr {
  color: #00C481;
}
.global-logo .right a:hover {
  border-bottom: 2px solid #00C481;
}
.global-bottom {
  border-top: 1px solid #dedede;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 35px;
  color: #959595;
}
.global-bottom a {
  color: #959595;
}
.global-bottom span {
  margin: 0 10px;
}
.global-title {
  height: 36px;
  line-height: 36px;
  border-bottom: 2px solid #757575;
  padding-left: 10px;
  font-size: 18px;
  color: #434343;
  margin-bottom: 10px;
}
.global-title .order_search_box {
  float: right;
}
.global-title .order_search_box .standard_select {
  height: 18px;
  overflow: hidden;
}
.global-title .order_search_box .order_text {
  border: 1px solid #e0e0e0;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin-right: 5px;
}
.global-title .order_search_box .order_sub {
  height: 30px;
  line-height: 30px;
  background: #00c481;
  color: #fff;
  top: -5px;
  position: relative;
  padding: 0 8px;
}
.global-sub {
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.global-sub .title {
  height: 36px;
  background-color: #e0e0e0;
  line-height: 36px;
  font-size: 14px;
  color: #535353;
  text-indent: 20px;
}
.global-sub ul {
  padding: 10px;
  overflow: hidden;
}
.global-sub ul li {
  overflow: hidden;
}
.global-sub ul li a {
  display: block;
  padding: 0 10px;
  line-height: 36px;
  font-size: 14px;
  color: #7d7d7d;
  border-radius: 4px;
}
.global-sub ul li .click {
  background-color: #00c481;
  color: #fff;
}
.global-sub ul .small {
  padding-left: 15px;
}
.global-sub ul .small a {
  display: block;
  padding-left: 15px;
  line-height: 30px;
  font-size: 12px;
  color: #7d7d7d;
}
.global-sub ul .small .click {
  background-color: #00c481;
  color: #fff;
}
.global-user {
  background-color: #00c481;
  overflow: hidden;
  margin-bottom: 20px;
}
.global-user .user {
  margin: 10px 20px;
  overflow: hidden;
}
.global-user .img {
  float: left;
  margin-right: 20px;
  display: inline-block;
  width: 68px;
  height: 68px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("../images/us.png") no-repeat center center;
  overflow: hidden;
}
.global-user .img img {
  width: 68px;
  height: 68px;
}
.global-user .text {
  float: left;
  margin: 10px 0 0 10px;
  line-height: 24px;
  color: #fff;
  font-size: 14px;
}
.global-user .text a {
  color: #fff;
}
.global-user .text p {
  color: #117a56;
  font-size: 12px;
}
.global-user .about-us-logo {
  width: 70px;
  height: 70px;
  margin: 10px auto 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("../images/shi.png") no-repeat center center;
}
.global-user .about-us-text {
  overflow: hidden;
  line-height: 30px;
  color: #434343;
}
.global-user .about-us-text p {
  margin-bottom: 30px;
}
.main {
  width: 1000px;
  margin: 0px auto;
}
/*
全局变量
*/
/*
一些Mixin
*/
/* 微信风格遮罩 */
.common-wap-mask {
  position: fixed;
  top: 50px;
  width: 10em;
  background: #747474;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  opacity: 0.9;
  font-size: 1.2em;
}
.common-wap-mask .icon {
  background: url("../images/mask-ajax-loader.gif") center center no-repeat;
  background-size: 48px;
  width: 48px;
  height: 48px;
  margin: 0px auto;
}
.common-wap-mask .loading {
  min-height: 50px;
}
.common-wap-mask .error {
  background-image: url("../images/mask-failure.png");
}
.common-wap-mask .success {
  background-image: url("../images/mask-success.png");
}
.common-wap-mask h4 {
  font-weight: normal;
  font-style: normal;
}
.loading {
  min-height: 200px;
  background: url("../images/ajax-loader.gif") center center no-repeat;
  display: block;
}
.standard_select {
  display: inline-block;
  border: solid 1px #E3E9EF;
  border-top-color: #ABADB3;
  padding: 10px;
  margin-right: 5px;
  line-height: 20px;
}
.select_shelter {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.select_shelter select {
  *margin: -1px;
  padding: 1px;
  border: 0px none;
  width: 150px;
  height: 20px;
}
.common-cropper {
  background: white;
}
.user-avatar {
  border-radius: 50%;
  width: 66px;
  height: 66px;
}
.center-box {
  display: block;
  margin: 0 auto;
  float: none !important;
  text-align: center;
}
.mod_user .user-info {
  border: 1px solid #e0e0e0;
  padding: 40px 0;
  overflow: hidden;
  min-height: 250px;
  margin-bottom: 40px;
}
.mod_user .user-info .list,
.mod_user .user-info .list2 {
  margin-bottom: 20px;
  line-height: 34px;
  overflow: hidden;
}
.mod_user .user-info .list2 {
  margin-bottom: 0px;
}
.mod_user .user-info .name1 {
  width: 140px;
  height: 70px;
  float: left;
  line-height: 70px;
  font-size: 14px;
  color: #434343;
  margin-right: 20px;
  text-align: right;
}
.mod_user .user-info .content2 {
  width: 185px;
}
.mod_user .user-info .content {
  width: 600px;
}
.mod_user .user-info .content,
.mod_user .user-info .content2 {
  float: left;
  overflow: hidden;
}
.mod_user .user-info .content img,
.mod_user .user-info .content2 img {
  max-width: 100%;
}
.mod_user .user-info .content span,
.mod_user .user-info .content2 span {
  float: left;
  line-height: 36px;
  color: #bfbfbf;
}
.mod_user .user-info .content .span1,
.mod_user .user-info .content2 .span1 {
  float: left;
  line-height: 70px;
}
.mod_user .user-info .content .span2,
.mod_user .user-info .content2 .span2 {
  float: left;
  line-height: 30px;
  color: #f14646;
}
.mod_user .user-info .content .span2 b,
.mod_user .user-info .content2 .span2 b {
  font-size: 36px;
}
.mod_user .user-info .content .span3,
.mod_user .user-info .content2 .span3 {
  float: left;
  line-height: 66px;
  color: #f14646;
  height: 66px;
  padding: 0 20px;
  cursor: pointer;
}
.mod_user .user-info .content .span3 input,
.mod_user .user-info .content2 .span3 input {
  width: 66px;
  height: 66px;
}
.mod_user .user-info .name {
  width: 140px;
  height: 36px;
  float: left;
  line-height: 36px;
  font-size: 14px;
  color: #434343;
  margin-right: 20px;
  text-align: right;
}
.mod_user .user-info .img-list {
  float: left;
}
.mod_user .user-info .img-list .blue img {
  position: relative;
  top: 10px;
}
.mod_user .user-info input[type='text'],.mod_user .user-info input[type='password'] {
  float: left;
  border: 1px solid #e0e0e0;
  height: 34px;
  width: 320px;
  padding: 0 5px;
  line-height: 34px;
}
.mod_user .user-info input.file {
  border: 0px none;
  height: auto;
  line-height: normal;
  padding: 10px 0 0;
  width: auto;
}
.mod_user .user-info .upload_btn {
  float: left;
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #c8c8c8;
  color: #434343;
  cursor: pointer;
  margin: 3px 0 0 10px;
  background: url("../images/bg.jpg");
}
.mod_user .user-info .submit,
.mod_user .user-info .bhg,
.mod_user .user-info .hmd {
  float: left;
  width: 110px;
  height: 36px;
  background-color: #00c481;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.mod_user .user-info .submit {
  line-height: 36px;
  text-align: center;
}
.mod_user .user-info .bhg {
  margin-left: 10px;
  background-color: #E18C4C;
}
.mod_user .user-info .hmd {
  margin-left: 10px;
  background-color: #767676;
}
.mod_user .user-info select {
  width: 140px;
}
.mod_user .user-info .select-sz select {
  height: 35px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.mod_user .user-info .select-sz .choise {
  height: 35px;
  float: left;
  border-left: 1px solid #e0e0e0;
  margin-left: -1px;
  overflow: hidden;
}
.mod_user .user-info .select-sz .choise select {
  width: 138px;
  height: 37px;
  margin-top: -1px;
  margin-left: -1px;
}
.mod_user .server-content {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-left: none;
  margin-bottom: 40px;
}
.mod_user .server-content td {
  border-left: 1px solid #e0e0e0;
}
.mod_user .server-content .title {
  background-color: #f4f4f4;
  line-height: 40px;
}
.mod_user .server-content .title td {
  padding:0 10px;
  font-size: 14px;
  color: #7d7d7d;
}
.mod_user .server-content .list {
  height: 190px;
  text-align: center;
}
.mod_user .server-content.table-list .list {
  height: auto;
  text-align: center;
}
.mod_user .server-content.table-list .list td {
  padding:10px 5px;
  border-bottom: 1px solid #e0e0e0;
}
.mod_user .server-content .list b {
  font-size: 36px;
  color: #f39700;
}
.mod_user .server-content .info {
  width: 50%;
  float: left;
  overflow: hidden;
  line-height: 38px;
  color: #313131;
  font-size: 16px;
}
.mod_user .server-content .info span {
  font-size: 32px;
}
.mod_user .server-content .info p {
  color: #aaaaaa;
}
.mod_user .server-content .money {
  display: inline-block;
  padding-left: 70px;
  margin: 0 auto;
  overflow: hidden;
  background: url("../images/mo.png") no-repeat 0 5px;
  text-align: left;
}
.mod_user .server-content .money span {
  display: block;
  line-height: 40px;
  color: #313131;
  font-size: 16px;
  margin-bottom: 10px;
}
.mod_user .server-content .money span strong {
  color: #f55d5d;
  font-size: 32px;
}
.mod_user .server-content .money .give {
  width: 56px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #f55d5d;
  border-radius: 4px;
  cursor: pointer;
}
.mod_user .success-point {
  padding-top: 180px;
  background: url("../images/se.png") no-repeat center 0;
  text-align: center;
  line-height: 90px;
  font-size: 34px;
  margin-top: 80px;
}
.mod_user .technology-list {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 20px;
}
.mod_user .technology-list .list {
  width: 25%;
  float: left;
  overflow: hidden;
  text-align: center;
}
.mod_user .technology-list .list a {
  display: inline-block;
  overflow: hidden;
}
.mod_user .technology-list .list p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
  color: #434343;
}
.mod_user .administrate-content {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  margin-bottom: 40px;
}
.mod_user .administrate-content td {
  height: 140px;
  border-bottom: 1px solid #e0e0e0;
}
.mod_user .administrate-content .img {
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  background-color: #ffffff;
  margin: 0 15px;
}
.mod_user .administrate-content .info,
.mod_user .administrate-content .shop {
  float: left;
  width: 400px;
  overflow: hidden;
  margin-top: 10px;
}
.mod_user .administrate-content .info .name,
.mod_user .administrate-content .shop .name {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: #434343;
  font-size: 14px;
}
.mod_user .administrate-content .info .dress,
.mod_user .administrate-content .shop .dress {
  height: 30px;
  line-height: 25px;
  overflow: hidden;
  color: #a0a0a0;
  font-size: 14px;
}
.mod_user .administrate-content .info .muchan,
.mod_user .administrate-content .shop .muchan {
  height: 30px;
  line-height: 25px;
  color: #a0a0a0;
  font-size: 14px;
}
.mod_user .administrate-content .info .num,
.mod_user .administrate-content .shop .num {
  height: 25px;
  overflow: hidden;
}
.mod_user .administrate-content .info .num span,
.mod_user .administrate-content .shop .num span {
  float: left;
  line-height: 25px;
  color: #a0a0a0;
  font-size: 14px;
}
.mod_user .administrate-content .info .num .star,
.mod_user .administrate-content .shop .num .star {
  float: left;
  width: 110px;
  height: 25px;
  background: url("../images/sta_w.png") repeat-x 0 center;
  position: relative;
}
.mod_user .administrate-content .info .num .star_1,
.mod_user .administrate-content .shop .num .star_1,
.mod_user .administrate-content .info .num .star_2,
.mod_user .administrate-content .shop .num .star_2,
.mod_user .administrate-content .info .num .star_3,
.mod_user .administrate-content .shop .num .star_3,
.mod_user .administrate-content .info .num .star_4,
.mod_user .administrate-content .shop .num .star_4 {
  width: 20%;
  height: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/sta_n.png") repeat-x 0 center;
}
.mod_user .administrate-content .info .num .star_2,
.mod_user .administrate-content .shop .num .star_2 {
  width: 40%;
}
.mod_user .administrate-content .info .num .star_3,
.mod_user .administrate-content .shop .num .star_3 {
  width: 60%;
}
.mod_user .administrate-content .info .num .star_4,
.mod_user .administrate-content .shop .num .star_4 {
  width: 80%;
}
.mod_user .administrate-content .shop {
  margin: 0;
}
.mod_user .administrate-content .shop .name {
  float: left;
  margin-right: 50px;
}
.mod_user .administrate-content .shop .title {
  float: left;
  width: 200px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
}
.mod_user .administrate-content .shop .tdedit {
  padding-right: 20px;
  background: url('../images/pen_a.png') no-repeat right 0;
  margin-right: 3px;
}
.mod_user .administrate-content .change {
  display: inline-block;
  color: #434343;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #c8c8c8;
}
.mod_user .administrate-content .service,
.mod_user .administrate-content .unservice,
.mod_user .administrate-content .black {
  color: #00c481;
  font-size: 18px;
}
.mod_user .administrate-content .unservice {
  color: #E18C4C;
}
.mod_user .administrate-content .black {
  color: #767676;
}
.mod_user .administrate-content input {
  border: 1px solid #e0e0e0;
  padding: 0 5px;
  line-height: 23px;
}
.mod_user .produce-content {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  margin-bottom: 40px;
}
.mod_user .produce-content td {
  height: 140px;
  border-bottom: 1px solid #e0e0e0;
}
.mod_user .produce-content .img {
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  background-color: #ffffff;
  margin: 0 15px;
}
.mod_user .produce-content .info {
  float: left;
  width: 400px;
  overflow: hidden;
  margin-top: 5px;
}
.mod_user .produce-content .info .name {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: #434343;
  font-size: 14px;
  margin-bottom: 5px;
}
.mod_user .produce-content .info .num {
  height: 25px;
  overflow: hidden;
  margin-bottom: 5px;
}
.mod_user .produce-content .info .num span {
  float: left;
  line-height: 25px;
  color: #a0a0a0;
  font-size: 14px;
}
.mod_user .produce-content .info .num span.tdedit {
  padding-right: 20px;
  background: url('../images/pen_a.png') no-repeat right 0;
  margin-right: 3px;
}
.mod_user .produce-content .info .num a {
  float: left;
  margin-left: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/pen_a.png") no-repeat center center;
}
.mod_user .produce-content .info .num a:hover {
  float: left;
  margin-left: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/pen_h.png") no-repeat center center;
}
.mod_user .produce-content .info .num .star {
  float: left;
  width: 110px;
  height: 25px;
  background: url("../images/sta_w.png") repeat-x 0 center;
  position: relative;
}
.mod_user .produce-content .info .num .star_in {
  width: 80%;
  height: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/sta_n.png") repeat-x 0 center;
}
.mod_user .produce-content .change {
  display: inline-block;
  color: #434343;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 16px;
  border: 1px solid #c8c8c8;
  margin-bottom: 5px;
  text-align: center;
}
.mod_user .produce-content .change:hover {
  color: #00c481;
  border: 1px solid #00c481;
}
.mod_user .produce-content .service,
.mod_user .produce-content .unservice,
.mod_user .produce-content .black {
  color: #00c481;
  font-size: 18px;
}
.mod_user .produce-content .unservice {
  color: #E18C4C;
}
.mod_user .produce-content .black {
  color: #767676;
}
.mod_user .produce-content .set {
  display: inline-block;
  color: #00c481;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 16px;
  border: 1px solid #00c481;
  margin-bottom: 5px;
}
.mod_user .produce-content input {
  float: left;
  margin: 0 5px;
  width: 130px;
  height: 23px;
  border: 1px solid #e0e0e0;
  padding: 0 5px;
  line-height: 23px;
}
.mod_user .global-pages {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
}
.mod_user .global-pages .num {
  display: inline-block;
  border-left: none;
  overflow: hidden;
}
.mod_user .global-pages .num a {
  background-color: #f7f7f7;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  line-height: 40px;
  font-size: 14px;
  color: #626262;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.mod_user .global-pages .num span {
  display: inline-block;
  height: 40px;
  padding: 0 19px;
  border-left: 1px solid #ececec;
  line-height: 40px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #00c481;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.mod_user .global-pages .num span.page_total_info {
  border: 0;
  background: white;
  color: gray;
  font-size: 12px;
}
.mod_user .global-pages .num .choise {
  background-color: #00c481;
  color: #fff;
}
.mod_user .examine-content {
  border: 1px solid #e0e0e0;
  margin-bottom: 80px;
  height: 600px;
  padding-top: 20px;
}
.mod_user .examine-content .list {
  margin-top: 20px;
  overflow: hidden;
}
.mod_user .examine-content .name {
  float: left;
  width: 130px;
  text-align: right;
  font-size: 14px;
  color: #343434;
  margin-right: 30px;
  overflow: hidden;
}
.mod_user .examine-content .name_nor {
  height: 35px;
  line-height: 35px;
}
.mod_user .examine-content .number {
  float: left;
  line-height: 35px;
  color: #a0a0a0;
  font-size: 14px;
}
.mod_user .examine-content .list_no {
  margin-top: 0px;
  line-height: 25px;
}
.mod_user .examine-content .list_no .name {
  line-height: 30px;
}
.mod_user .examine-content .list_no .number {
  line-height: 30px;
}
.mod_user .examine-content .name_bg {
  height: 75px;
  line-height: 75px;
}
.mod_user .examine-content .safe {
  float: left;
  width: 140px;
  height: 72px;
  border: 1px solid #ebebeb;
}
.mod_user .examine-content .safe_bg {
  background: url("../images/no_bg.png") no-repeat center center;
}
.mod_user .examine-content input {
  float: left;
  border: 1px solid #e0e0e0;
  height: 33px;
  width: 320px;
  padding: 0 5px;
  line-height: 33px;
  color: #bfbfbf;
}
.mod_user .examine-content .button {
  float: left;
  overflow: hidden;
}
.mod_user .examine-content .button button {
  float: left;
  width: 110px;
  height: 40px;
  background-color: #00c481;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}
.mod_user .examine-content .button .nopass {
  background-color: #e18c4d;
}
.mod_user .diary-content {
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: none;
}
.mod_user .diary-content .info {
  padding: 20px;
  overflow: hidden;
}
.mod_user .diary-content .info .img {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  background-color: #c6c6c6;
  margin-right: 20px;
}
.mod_user .diary-content .info .text {
  float: left;
  width: 520px;
  overflow: hidden;
  margin-top: 10px;
}
.mod_user .diary-content .info .name {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-size: 14px;
  color: #343434;
}
.mod_user .diary-content .info .other {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-size: 14px;
  color: #a0a0a0;
}
.mod_user .diary-content .info .other span {
  color: #00c481;
}
.mod_user .diary-content .info .other i {
  color: #ff0000;
  font-style: normal;
}
.mod_user .diary-content table {
  width: 805px;
}
.mod_user .diary-content table tr.content_tr a,
.mod_user .diary-content table tr.content_tr span {
  display: inline-block;
}
.mod_user .diary-content table tr.content_tr a.del_submit {
  background-color: #00c481;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
}
.mod_user .diary-content td {
  border-right: 1px solid #e0e0e0;
  min-height: 32px;
  border-bottom: 1px solid #e0e0e0;
  color: #959595;
  padding: 10px 5px;
}
.mod_user .diary-content td span {
  color: red;
  cursor: pointer;
}
.mod_user .diary-content td span.default {
  color: #ddd;
  display: inline-block;
  margin-left: 20px;
}
.mod_user .diary-content td span font {
  color: #00c481;
}
.mod_user .diary-content .title {
  background-color: #f4f4f4;
  height: 35px;
  line-height: 35px;
}
.mod_user .diary-content .title td {
  height: 35px;
  border: none;
  color: #7d7d7d;
}
.mod_user .diary-content .title th {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.mod_user .diary-content .w_33 {
  width: 33.33%;
  float: left;
}
.mod_user .diary-content .num {
  float: left;
  margin-left: 20px;
}
.mod_user .diary-content .w_33 em {
  margin-left: 10px;
  font-style: normal;
}
.mod_user .diary-content .w_33 img {
  margin-left: 10px;
  float: left;
}
.mod_user .diary-content .examine {
  display: inline-block;
  overflow: hidden;
}
.mod_user .diary-content .examine a {
  display: inline-block;
  float: left;
  color: #434343;
  width: 66px;
  font-size: 14px;
  padding: 5px 0px;
  line-height: 16px;
  border: 1px solid #c8c8c8;
  margin-left: 10px;
}
.mod_user .release-content {
  border: 1px solid #e0e0e0;
  padding: 35px 10px 35px 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.mod_user .release-content .list {
  overflow: hidden;
}
.mod_user .release-content .list label {
  line-height: 35px;
}
.mod_user .release-content .list textarea {
  width: 590px;
  height: 100px;
  border: 1px solid #e0e0e0;
  padding: 5px;
}
.mod_user .release-content .name {
  float: left;
  width: 91px;
  height: 35px;
  margin-right: 20px;
  line-height: 35px;
  color: #434343;
  font-size: 14px;
  text-align: right;
}
.mod_user .release-content .name span {
  color: #ff0000;
}
.mod_user .release-content .point {
  padding-left: 110px;
  height: 26px;
  line-height: 20px;
  color: #959595;
}
.mod_user .release-content .text {
  float: left;
  width: 310px;
  border: 1px solid #e0e0e0;
  padding: 0 5px;
  height: 33px;
  line-height: 33px;
  margin-right: 5px;
}
.mod_user .release-content .select {
  float: left;
  width: 320px;
  height: 33px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.mod_user .release-content .select select {
  width: 305px;
  margin-top: -1px;
  margin-left: -1px;
}
.mod_user .release-content button {
  float: left;
  width: 90px;
  height: 28px;
  border: 1px solid #c8c8c8;
  color: #434343;
  cursor: pointer;
  background: url("../images/bg.jpg");
}
.mod_user .release-content .upload_btn {
  float: left;
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #c8c8c8;
  color: #434343;
  cursor: pointer;
  margin: 3px 0 0 10px;
  background: url("../images/bg.jpg");
}
.mod_user .release-content .upload_btn input {
  width: 90px;
  height: 28px;
}
.mod_user .release-content .img-list {
  width: 615px;
  float: left;
  overflow: hidden;
  margin-top: 7px;
}
.mod_user .release-content .img-list span {
  display: inline-block;
  width: 110px;
  height: 68px;
  float: left;
  border: 1px solid #c8c8c8;
  margin-right: 10px;
  margin-bottom: 10px;
}
.mod_user .release-content .img-list span img {
  width: 110px;
  height: 68px;
}
.mod_user .release-content .img-list a {
  float: left;
  color: #434343;
  font-size: 14px;
  line-height: 70px;
}
.mod_user .release-content .img-list a.J_add_img,
.mod_user .release-content .img-list a.J_add_attr,
.mod_user .release-content .img-list a.J_del_img,
.mod_user .release-content .img-list a.J_del_attr,
.mod_user .release-content .img-list a.J_add_sku,
.mod_user .release-content .img-list a.J_del_sku {
  float: none;
  line-height: normal;
  font-size: 12px;
  position: relative;
  top: 3px;
}
.mod_user .release-content .submit {
  float: left;
  width: 110px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #00c481;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin: 25px 0;
}
.mod_user .release-content .select-sz {
  float: left;
  height: 35px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.mod_user .release-content .choise {
  height: 35px;
  float: left;
  border-left: 1px solid #e0e0e0;
  margin-left: -1px;
  overflow: hidden;
}
.mod_user .release-content .choise select {
  width: 138px;
  height: 37px;
  line-height: 37px;
  margin-top: -1px;
  margin-left: -1px;
}
.mod_user.act_order .btn_submit {
  display: inline-block;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #00c481;
  color: #ffffff;
}
.mod_user.act_order_detail h1 {
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  padding: 0 10px;
  background-color: #F3F3F3;
}
.mod_user.act_order_detail h1 .fr {
  font-size: 14px;
}
.mod_user.act_order_detail .order_status,
.mod_user.act_order_detail .order_addr,
.mod_user.act_order_detail .order_item {
  border-top: 1px solid #E0E0E0;
}
.mod_user.act_order_detail #order_status1{
  background: url('../images/order_status1.gif') no-repeat center center;
}
.mod_user.act_order_detail #order_status2{
  background: url('../images/order_status2.gif') no-repeat center center;
}
.mod_user.act_order_detail #order_status3{
  background: url('../images/order_status3.gif') no-repeat center center;
}
.mod_user.act_order_detail #order_status4{
  background: url('../images/order_status4.gif') no-repeat center center;
}
.mod_user.act_order_detail .order_status {
  padding: 10px 0;
}
.mod_user.act_order_detail .order_status ul li {
  width: 25%;
  text-align: center;
}
.mod_user.act_order_detail .order_status ul li .step-done {
  font-weight: 700;
  padding-left: 35%;
  text-align: left;
}
.mod_user.act_order_detail .order_status ul li .step_no {
  height: 36px;
  width: 100%;
}
.mod_user.act_order_detail .order_addr {
  padding-bottom: 10px;
}
.mod_user.act_order_detail .order_addr .addr_name {
  padding-left: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  line-height: 35px;
}
.mod_user.act_order_detail .order_addr .addr_content {
  line-height: 25px;
  padding-left: 55px;
}
.mod_user.act_order_detail .order_item .order_iname {
  padding-left: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  line-height: 35px;
}
.mod_user.act_order_detail .order_item .order_item_list {
  width: 94%;
  margin: 0 auto;
}
.mod_user.act_order_detail .order_item .order_item_list .top_name td {
  height: 25px;
  background-color: #EEEEEE;
}
.mod_user.act_order_detail .order_item .order_item_list .underline td {
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}
.mod_user.act_order_detail .order_item .order_assout {
  text-align: right;
  padding-right: 30px;
  height: 180px;
  line-height: 25px;
}
.mod_user.act_order_detail .order_item .order_assout label {
  text-align: right;
}
.mod_user.act_order_detail .order_item .order_assout span {
  width: 120px;
  text-align: right;
}
.mod_user.act_order_detail .order_item .order_total {
  text-align: right;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding-right: 30px;
  background-color: #E0E0E0;
}
.mod_user.act_order_detail .order_item .order_total span {
  font-size: 18px;
  color: #EB5054;
}
.mod_user.act_order_detail .order_item .order_total .btn_submit {
  display: inline-block;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #00c481;
  color: #ffffff;
}
.mod_user .standard_select {
  padding: 6px;
}
.mod_user .select .standard_select {
  border: 0;
}
.add-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #00c481;
  color: #fff;
  padding: 0 15px;
  font-size: 12px;
  text-align: center;
  margin-top: -5px;
}
.table_form th,
.table_form td {
  padding: 8px;
}
.table_form th {
  font-weight: normal;
}
.table_form td {
  color: #959595;
}
.table_form input[type="text"] {
  font-family: Verdana, Geneva, sans-serif, "宋体";
  font-size: 12px;
  padding: 2px 0px 2px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
  border-image: initial;
  background: url(../images/input.png) repeat-x #ffffff;
  height: 24px;
  line-height: 24px;
  color: #959595;
}
.table_form select {
  height: 30px;
  line-height: 30px;
  border: 1px solid #e7e7e7;
}
.validate-wrong.help-block {
  display: none !important;
}
/*个人资料*/
.act_profile .uploadifive-button{background: none;}
.act_profile .uploadifive-queue{background: none;height: 65px;width: 65px;border-radius: 50%;display: none;position: absolute;left: 0;top: 0;}
.act_profile .avatar,.act_profile .uploadifive-queue-item{width: 65px;height: 65px;border-radius: 50%;}
.act_profile .upload_avatar{position: relative;line-height: normal;min-height:75px;}
.act_profile .avatar,.act_profile .upload_input{position: absolute;left: 10px;top:0px;}
.simple-list .arrow{width: 16px;height: 16px;background: url(../images/arrow.png) center center no-repeat;background-size: 100%;display: block;float: right;}

/*# sourceMappingURL=user.css.map */